<% %w[maleape malekoala maledog femalekoala femalecat femaleelephant].each do |character| %>
<a href="" onclick="new Ajax.Request('/<%= character %>/animal');setTimeout(20000, function(){window.location='/profile'});"><img src="/images/animals/<%= @current_user.belt %><%= character %>.png" style="width:150px;height:150px;" alt="<%= character %>"/></a>
<% end %>