
<div class='first grid12'>
	<div id="profile">
		<div class='first grid3'>
			<br/>
			<div style='background-color:#999999;border-radius:2px;font-size:78px;color:#333333;height:140px;border:solid 2px black;'><img src='/images/profilepic.png' alt='profile'/>
			</div>
			<a href="javascript:say('Full Profile Here');">
				<div style='background-color:yellow;text-align:center;color:#333333'>Yellow Belt
				</div>
			</a>
			</br>
		</div>
		<div class='grid9'>
			<p style='text-align:right;'>Welcome, Timmy: P45 B4 L1</p>

		</div>
		<div class='first grid9'>
		</div>
		<div class='grid3'>
			links here
		</div>