<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Puzzle Creator</title>
	<link href='http://fonts.googleapis.com/css?family=Trade+Winds|Lobster|Antic|Luckiest+Guy|Geo|Flavors|Coming+Soon' rel='stylesheet' type='text/css'>
	<script src="/scripts/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="/scripts/sayStuff.js" type="text/javascript" charset="utf-8"></script>
		
	<link rel="stylesheet" media="screen" type="text/css" href="/css/colorpicker.css" />
	<link rel="stylesheet" media="screen" type="text/css" href="/css/simpler.css" />
	<link rel="stylesheet" media="screen" type="text/css" href="/css/puzzleMaker.css" />

	<script type="text/javascript" src="/scripts/colorpicker.js"></script>
	<script type="text/javascript" src="/scripts/puzzleMaker.js"></script>
</head>
<body>
	<div id="toolPallet" >
		<div class="fontSelect">Lobster</div>
		<div class="fontSelect">Trade Winds</div>
		<div class="fontSelect" >Luckiest Guy</div>
		<div class="fontSelect">Geo</div>
		<div class="fontSelect">Antic</div>
		<div class="fontSelect">Flavors</div>
		<div class="fontSelect">Impact</div>
		<div class="fontSelect">Coming Soon</div>

		<div>size<br><input type="range" id="size" value="48" name='size' min="10" max="92" />
		</div>
		<div>Horizontal Offset<br>
			<input type="range" id="hOffset" value="75" name='hOffset' min="0" max="940" />
		</div>
		<div>Vertical Offset<br><input type="range" id="vOffset" value="75" name='vOffset' min="0" max="400" />
		</div>
		<div>align
			<select name="align" id="align">
				<option value="right">right</option>
				<option value="center">center</option>
				<option value="left">left</option>
			</select>	 
		</div>
		<div>
			fill <a id="colorSelector">
			<img src="/images/select3.png" alt="select color" />
			</a> stroke 
			<a id="strokeSelector">
			<img src="/images/select3.png" alt="select color" />
			</a>
		</div>
		<div id='chooseImage'>Choose Image
		</div>
	</div>
	<div class="container">
		<div class='first grid12'>
			<input type='text' value='Name Your Puzzle' id='puzzleTitle' name="puzzleTitle" />
		</div>
		<div id='first grid12'>
			<textarea id='puzzleBody'>You Can Enter Your Text Right Here.
			</textarea>
		</div>
		<div class='first grid12' id='workArea'>
			
		</div>
		<br>
		<div class="first grid9">&nbsp;
		</div>
		<div id="save" class="grid3">&nbsp;Save&nbsp;
		</div>
		<div class='first grid12'>
			<canvas id="canvas" width="940" height="400">
			<p>To use the puzzle-creator, you must install a modern web-browser. Here's one:  <a href='https://www.google.com/chrome/'>Google's Chrome</a></p>
			<p>Here's another: <a href="http://www.mozilla.org/" >Mozilla Firefox</a></p
			</canvas>
		</div>
	</div>

	<img id='img_elem' src="/images/backgrounds/panda.png" />
</body>
</html>