<style type="text/css">
#puzzle image {
	display: inline-block;
}
</style>
<script type="text/javascript" src="/scripts/jquery-ui.js"></script>
<style type="text/css">
</style>
<div class="first grid12" id="puzzle"><% @puzzle_tiles.each_with_index do |tile, index| %><img src="/images/puzzles/<%= @title %>/<%= tile %>" rel="<%= index %>" alt="<%= @title %>" /><% end %>
</div>
<script type="text/javascript">
$('#puzzle').sortable({forcePaaxis: 'x', cursor: 'crosshair', update: function(event, ui) {
	var imageIndex = [];
	var imgCollection = $(this).children();
	imgCollection.each(function(index, value){
		imageIndex += $(value).attr('rel');
		return imageIndex;
	});
	console.log(imageIndex);
	if (imageIndex === "0123456789") {
		alert('you win!');
		$('#puzzle').sortable('disable');
	};
}});
(function() {
	say('<br>Drag the slices!<br>Fix the message.<br><br><a class="awesome blue medium">BEGIN</a>');
//	$(closebox).detach();
	$('#paratext a').click(function() {
		var randomizedSlices = [];
		$('#puzzle').children().each(function(index, value) {
			randomizedSlices.push($(value));
		});
		for (var i = randomizedSlices.length - 1; i >= 0; i--) {
			var slice = randomizedSlices[(Math.floor(Math.random()*10))];
			$('#puzzle').prepend(slice);
		};
		$(overlay).remove();
		$(alertbox).remove();
	});
})();
</script>