<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Trade+Winds|Lobster|Antic|Luckiest+Guy|Geo|Flavors' rel='stylesheet' type='text/css'>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>HTML 5 Canvas example</title>
	<style>
	#strokeSelector img {
		background-color: #ffffff;
	}
	#colorSelector img {
		background-color: #000000;
	}
	</style>
		<script src="http://code.jquery.com/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" media="screen" type="text/css" href="/css/colorpicker.css" />
		<link rel="stylesheet" media="screen" type="text/css" href="/css/simpler.css" />
		
		<script type="text/javascript" src="/scripts/colorpicker.js"></script>
    <script>
	var drawMultilineText = function(){
	    // set context and formatting
		var fv = $('#font').val();
		var size = $('#size').val();
		var canvas = document.getElementById("canvas")
	    var context = canvas.getContext('2d');
		var x = $('#hOffset').val();
	//	var y = $('#vOffset').val();
		context.clearRect(0,0,940,400);
		context.drawImage(document.getElementById('img_elem'), 0, 0);
	    context.textAlign = "left";
	    context.textBaseline = "top";
	    context.fillStyle = $('#colorSelector img').css('background-color');
		context.font =  size + 'pt ' + fv;
		context.textAlign = $('#align').val();
	    // prepare textarea value to be drawn as multiline text.
	    var textval = document.getElementById("textarea").value;
	    var textvalArr = toMultiLine(textval);
	    var linespacing = size*1.5;
	//    var x = 2;
	    var y = parseInt($('#vOffset').val());
	    // draw each line on canvas. 
	    for(var i = 0; i < textvalArr.length; i++){

	        context.fillText(textvalArr[i], x, y);
			if ( $('#strokeSelector').hasClass('on') ) {
				context.strokeStyle = $('#strokeSelector img').css('background-color');
				context.strokeText(textvalArr[i], x, y);
			}
			
	        y += linespacing;
	    }
		
	};
	// Creates an array where the <br/> tag splits the values.
	var toMultiLine = function(text){
	   var textArr = new Array();
	   text = text.replace(/\n\r?/g, '<br/>');
	   textArr = text.split("<br/>");
	   return textArr;
	};
	$(document).ready(function() {drawMultilineText()});
	</script>
    <style type="text/css">
      canvas { border: 1px solid black; }
    </style>
  </head>
	<body>
		<div class="container">
			<div class='first grid12' id='heading'>
				<h1 id="puzzle_maker" style="font-family:'Lobster';font-size:48px;color:#00869e;text-align:center;">Puzzle Maker</h1>
			</div>
			<div class="first grid12" id="controls">font:
				<select name='font' id='font'>
					<option value="Luckiest Guy" style="font-family: 'Luckiest Guy';">Luckiest Guy</option>
					<option value="Impact">Impact</option>
					<option value="Lobster">Lobster</option>
					<option value="Trade Winds">Trade Winds</option>
					<option value="Antic">Antic</option>
					<option value="Geo">Geo</option>
					<option value="Flavors">Flavors</option>
				</select>
				align:
				<select name="align" id="align">
					<option value="right">right</option>
					<option value="center">center</option>
					<option value="left">left</option>
				</select>	 
				fill: <a id="colorSelector">
					<img src="/images/select3.png" alt="select color" />
					</a> stroke: 
					<a id="strokeSelector">
					<img src="/images/select3.png" alt="select color" />
					</a>
			</div>

			<div class='first grid4'>
		    	<textarea id="textarea" rows="8" cols="40">This is sample Text
if a ninja you will be
replace it you must</textarea>
			</div>
			<div class="grid3">
				Font Size<br>
				<input type="range" id="size" value="36" name='hOffset' min="10" max="92" /><br>
				Horizontal Position<br>
					<input type="range" id="hOffset" value="870" name='hOffset' min="0" max="940" /><br>Vertical Position<br>
					<input type="range" id="vOffset" value="133" name='vOffset' min="0" max="400" />
			</div>
			<button>save</button>
				
		<div class="first grid12">
			
	    <canvas id="canvas" width="940" height="400">
			To use the puzzle-creator, you must install a modern web-browser. Here's one:  <a href='https://www.google.com/chrome/'>Chrome</a>
		</canvas>
	</div>
	</div>
	<img id='img_elem' src="/images/butterflygirl.png" alt='butterfly girl on blue' />
	<script type="text/javascript" charset="utf-8">
	$('#textarea').keyup(
		function() {
			drawMultilineText();
		}
	//	context.restore();
		//text

		 );
	$('#font, #size, #align, #hOffset, #vOffset').change(
		function() {
			drawMultilineText();
		}
	);
	$('#colorSelector').ColorPicker({
		onShow: function (colpkr) {
			$(colpkr).fadeIn(500);
			return false;
		},
		onHide: function (colpkr) {
			$(colpkr).fadeOut(500);
			return false;
		},
		onChange: function (hsb, hex, rgb) {
			$('#colorSelector img').css('backgroundColor', '#' + hex);
			drawMultilineText();
			
		}
	});
	$('#strokeSelector').ColorPicker({
		onShow: function (colpkr) {
			$(colpkr).fadeIn(500);
			return false;
		},
		onHide: function (colpkr) {
			$(colpkr).fadeOut(500);
			return false;
		},
		onChange: function (hsb, hex, rgb) {
			$('#strokeSelector img').css('backgroundColor', '#' + hex);
			drawMultilineText();
			
		}
	});
	$('#img_elem').hide();
	
	$('#strokeSelector').click(function() {$('#strokeSelector').toggleClass('on')});
	$('button').click(function() {
		var dataURL = canvas.toDataURL("image/png");
		var base64 = dataURL.replace(/^data:image\/(png|jpg);base64,/, "") ;
		$.post('/puzzles/upload',
			{base64: base64},
			function(){
    			alert('success');
		});
	});

	</script>
</body>
</html>
