<center>
	<h2 style="color:black;">SignUp</h2>

		<p><textarea id="email" name="email"  onFocus="this.value=''; this.onfocus=null;">Email</textarea></p>
		<p><textarea id="nickname" name="nickname"  onFocus="this.value=''; this.onfocus=null;">Nickname</textarea></p>
		
		<p><textarea id="password" name="password" onFocus="this.value=''; this.onfocus=null;">Password</textarea></p>
		<a class="medium magenta awesome" href="#" onclick = "new Ajax.Request('/signup', {
				parameters: { email: $F('email'), nickname: $F('nickname'), password: $F('password')}, onComplete: function(){window.location='/profile'}})">submit</a>
	<br/>
</center>