<a href="#" id="clickme">click me</a>
<script>$('clickme').observe('click', function() { say('Enter your phrase.<br/>Less than 60 characters.<br/><form method="post" action="/games/create"><textarea name="phrase" cols="40" rows="5"></textarea><br><input type="submit" value="Submit" /></form>');}); 
</script>