<% @users.each do |user| %>
	<p><a href="/user/<%= user.id %>/show"><%= user.login %>
		<!-- </a>&nbsp;&nbsp;<a href="#" onclick="new Ajax.Request('/<%= @group %>/user/<%= user.id %>/destroy');">x</a> -->
	</p>
<% end %>