.white {background-color:#ffffff;}
.royal {background-color:#0f87ff;}
.carrot {background-color:#f55200;}
.lime {background-color:#8fe300;}
.pink {background-color:#f200cf;}
.cherry {background-color:#de0000;}
.grey {background-color:#666666;}
.linkbox {min-height:180px;border-radius:10px;-moz-border-radius:10px;}
.linkbox p {margin-left:15px;line-height: 10px;}
.outline {border:1px solid #666666;}

a img{border:0px;}
#logo a {
	color:green;
	font-weight:bold;
 	text-shadow: 2px 2px 2px black;
	font-size:48px;
	font-family: 'Ubuntu';
}
#logo a:hover {
	color:orange;
	font-weight:bold;
 	text-shadow: 2px 2px 2px black;
	font-size:48px;
	text-decoration:none;
}
.logo {font-family: 'Cherry Cream Soda', serif;
	text-align:center;
	font-size: 36px;
	font-style: normal;
	font-weight: 400;
	text-shadow: 8px 8px 8px #ccc;
	text-decoration: none;
	text-transform: none;
	letter-spacing: 0em;
 	word-spacing: 0em;
	line-height: 1.2;
}
#stage {min-height:400px;}
#bar {
	margin-bottom:10px; 
	line-height:24px;
	color:white;
	background-image: url('/images/diagonal.png');
	}
#bar a { color:white;}
#bar a:hover {text-decoration:underline;}
#body {
	margin-top:0px;
	}
	
h3 {font-family:Verdana, Geneva, sans-serif;color:#007fa3;}

div {font-family:Verdana, Geneva, sans-serif; color:#333333;}

#header {}

.seperatorNill {
	height:10px;
	background-color:#007ADA;
	border-top: solid 1px white; 
	border-bottom: solid 1px black;
	}

.rounded {
	background-color:#fff;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	}
	
#background_hills {
	background: url('/images/background.png');

	}
	
#separate {
	line-height:12px;
}
.biggish {font-family: 'Gill Sans', 'Impact', sans-serif; font-size:26px;}

a {text-decoration:none;}

a:hover {text-decoration:underline;}

/* Buttons */
.awesome, .awesome:visited {
	font-family: arial;
	background-color: #222; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}

.center {text-align:center; color:black;}
.awesome:hover							{ background-color: #111; color: #fff; }
.awesome:active							{ top: 1px; }
.small.awesome, .small.awesome:visited 			{ font-size: 11px; }
.awesome, .awesome:visited,
.medium.awesome, .medium.awesome:visited 		{ font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.large.awesome, .large.awesome:visited 			{ font-size: 16px; padding: 10px 16px 11px; }
.extreme.awesome, .extreme.awesome:visited { font-size: 28px; padding: 16px 28px 18px; }
.grey.awesome, .grey.awesome:visited 		{ background-color: #707070;}
.grey.awesome:hover 						{background-color: #424242;}
.green.awesome, .green.awesome:visited		{ background-color: #91bd09; }
.green.awesome:hover						{ background-color: #749a02; }
.blue.awesome, .blue.awesome:visited		{ background-color: #0f87ff; }
.blue.awesome:hover							{ background-color: #0a5bad; }
.pink.awesome, .pink.awesome:visited			{ background-color: #f200cf; }
.pink.awesome:hover							{ background-color: #b50099; }
.magenta.awesome, .magenta.awesome:visited		{ background-color: #a9014b; }
.magenta.awesome:hover							{ background-color: #630030; }
.orange.awesome, .orange.awesome:visited		{ background-color: #ff5c00; }
.orange.awesome:hover							{ background-color: #d45500; }
.carrot.awesome, .carrot.awesome:visited		{ background-color: #f55200; }
.carrot.awesome:hover							{ background-color: #a53700; }

/** FORMS **/

.input {
	border: 1px solid #fefefe;
	/** remember to change image path **/
	background: url(/images/form.png) repeat-x #ffffff;
	font-family: tahoma, helvetica, sans-serif;
	margin-top:0px;
	font-style: normal;
	font-size: 14px;
	color: #454743;
}

.label {
	line-height:6px;
	margin-bottom:-10px;
	font-family: tahoma, helvetica, sans-serif;
	font-size: 13px;
	color: #0a5dff;
}