body {
	background-image: url('/images/brushed_alu.png');
}
#canvas {
	font-family: 'Luckiest Guy';
	color:	black;
	font-size:	48pt;
}
#workArea {
    background-image: url('/images/backgrounds/panda.png');
    background-repeat: no-repeat;
}

#toolPallet{
	border-top: 1px solid grey;
	border-right: 1px solid white;
	border-bottom: 1px solid grey;
	border-left: 1px solid grey;
	position:fixed;
	margin-left:50px;
	z-index:0;
	margin-top:80px;
	text-align:center;
	font-family: antic;
}

#hiddenSelectors{
	display: hidden;
	position:absolute;
	margin-top:200px;
	margin-left:10px;
}
#heading h1 {
	font-family:'Lobster';font-size:48px;color:#242424;text-align:center;
}

#puzzleTitle {
	width:100px;

}
#puzzleBody{
	padding: 5px;
	width: 100%;
	min-height: 150px;
	font-size:24px;
	color:grey;
}