<h1>New Badge</h1>

<label class="label">Name:</label>
<input type="textbox" class="input" name="myname" />
<form action="badge_new_submit" method="get" accept-charset="utf-8">
	

	<p><input type="submit" value="Continue &rarr;"></p>
</form>