</div><!-- closing out the layout's container-->
<head>
	<link href='http://fonts.googleapis.com/css?family=Trade+Winds|Lobster|Antic|Luckiest+Guy|Geo|Flavors|Coming+Soon' rel='stylesheet' type='text/css'>
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/scripts/colorPicker.js" charset="utf-8"></script>
	<script type="text/javascript" src="/scripts/puzzleMaker.js" charset="utf-8"></script>
	<script type="text/javascript" src="/scripts/spin.js" charset="utf-8"></script>
	<link rel="stylesheet" media="screen" type="text/css" href="/css/colorPicker.css" />
	<link rel="stylesheet" media="screen" type="text/css" href="/css/puzzleMaker.css" />
</head>
<div class="buttons">
	<div class="btn-group">
		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-font"></i> Font
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="#" class="fontSelect">Lobster</a></li>
			<li><a href="#" class="fontSelect">Trade Winds</a></li>
			<li><a href="#" class="fontSelect">Luckiest Guy</a></li>
			<li><a href="#" class="fontSelect">Geo</a></li>
			<li><a href="#" class="fontSelect">Antic</a></li>
			<li><a href="#" class="fontSelect">Flavors</a></li>
			<li><a href="#" class="fontSelect">Impact</a></li>
			<li><a href="#" class="fontSelect">Coming Soon</a></li>
		</ul>
	</div>
	<br>
	<div class="btn-group">
		<a class="btn" href="#">
			<i class="icon-text-height"></i> <input id="sizeInput" value="32" type="text" />
		</a>
		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<% for i in 1..16 %>
			<li><a href="#" class="size"><%= 10 + 4*i %></a></li>
			<% end %>
			<li><hr></li>
			<li><a href="#" id="customSize">Custom</a></li>
		</ul>
	</div>
	<br>
	<div class="btn-group">
		<a id="colorSelector" class="btn" href="#">
			<i class="icon-tint"></i> Color
			<span class="caret"></span>
		</a>
	</div>
	<br>	
	<div class="btn-group">
		<input class="btn" type='text' value='Title' id='puzzleTitle' name="puzzleTitle" />
		<button id="save" href="#" class="btn" >
			<i class="icon-ok"></i></button>
	</div>
</div>
<div class="container"><!-- this div will be closed in the layout-->
		<br>
	<div class="row">
		<div class="span9"><textarea class="" id='puzzleBody'>Your
Text
Here</textarea>
	<br>
		</div>
		<div class="span3">
			<div id="bgImages" style="overflow-x:scroll;max-height:160px;"><p>
			<% for img in @background_list %>
				<a class="/images/backgrounds/<%= img %>"><img src="/images/backgrounds/<%= img %>"></a>
			<% end %></p>
			</div>
		</div>
	</div>
	<canvas id="canvas" width="940" height="400">
		<p>To use the puzzle-creator, you must install a modern web-browser. Here's one:  <a href='https://www.google.com/chrome/'>Google's Chrome</a></p>
		<p>Here's another: <a href="http://www.mozilla.org/" >Mozilla Firefox</a></p>
	</canvas>
	<br>
	<div id="hmSlider"><span><i class="icon-move"></i></span></div>
	<canvas id="slices" width="94" height="400"></canvas>
	<img id='img_elem' src="/images/backgrounds/panda.png">
