	<div id="signup" >
		<center>
			<h2 style="color:black;">SignUp</h2>
				<p class='label'>Nickname</p>
				<p><input type='text' id="nickname" size='26' name="nickname"/></p>
				<p class='label'>Email</p>
				<p><input type='text' id="email" size='26' name="email"/></p>
				<p class='label'>Password</p>
				<p><input type="password" size='26' id="password" name="password"/></p>
				<a class="medium magenta awesome" href="#" onclick = "new Ajax.Request('/signup', {
						parameters: { nickname: $F('nickname'), email: $F('email'), password: $F('password')},
						onSubmit: $('paratext').update('<img src=\'/images/ajax-loader.gif\'/>'),
						onComplete: function(){window.location='/'}})">submit</a>
			<br/>
		</center>
	</div>